.menu
  = link_to "Sections", sections_path
  = link_to "add", new_section_path, :class => 'add button'
  = link_to "Articles", articles_path
  = link_to "add", new_article_path, :class => 'add button'
